.App {
  text-align: center;
  background: url('./bg.png') no-repeat ;
  background-size: cover;
  height: auto;
}

.otsikko_logo img {
  height: 100px;
  float: left;
  padding-right: 10px;
}

.otsikko_logo h1 {
  position: relative;
  display: inline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
 padding-top: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: lightgreen;
}

.App-header p {
  
}

.App-header h1 {
  padding-top: 130px;
}


.dd {
  position: relative;
  display: inline-block;

}
.value_list{
  display: inline-block;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}
